.headerBasket {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 0.3;
}

.headerBasket__icon {
  color: white;
}

.headerBasket__icon:active {
  color: white;
  font-size: 20px;
}

.headerBasket__count {
  color: white;
  font-size: medium;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 5px;
}
