.header {
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: var(--amazon-black);
  display: flex;
  align-items: center;
  z-index: 10;
  height: 40px;
}

.header__logo {
  height: 2rem;
  object-fit: contain;
  cursor: pointer;
  margin: 15px 10px 0px 0px;
}

.header__search {
  display: flex;
  flex: 0.65;
  align-items: center;
  background-color: var(--amazon-yellow);
}

.header__searchInput {
  padding: 10px;
  height: 12px;
  flex: 1;
}

.header__searchIcon {
  color: var(--amazon-black);
  padding: 5px;
  height: 100% !important;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__login {
  text-decoration: none;
}

.header__hamburger {
  display: none !important;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
}

.header__hamburger > * {
  color: white !important;
}

@media (max-width: 475px) {
  .header__logo {
    display: none;
  }

  .header__search {
    max-width: 50%;
  }
  .header__searchInput {
    width: 100%;
  }

  .header__hamburger {
    display: flex !important;
    margin-right: 20px !important;
  }

  .header__hamburger > * {
    height: 2.5rem !important;
    width: 2.5rem !important;
  }

  .header__hamburger > *:hover {
    color: var(--amazon-yellow) !important;
    transition: 0.2s;
  }
}

@media (max-width: 270px) {
  .header__search {
    display: none;
  }

  .header__hamburger {
    flex: 1;
  }
}
