.header {
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: var(--amazon-black);
  display: flex;
  align-items: center;
  z-index: 10;
  height: 40px;
}

.header__logo {
  height: 2rem;
  object-fit: contain;
  cursor: pointer;
  margin: 15px 10px 0px 0px;
}

.header__search {
  display: flex;
  flex: 0.65;
  align-items: center;
  background-color: var(--amazon-yellow);
}

.header__searchInput {
  padding: 10px;
  height: 12px;
  flex: 1;
}

.header__searchIcon {
  color: var(--amazon-black);
  padding: 5px;
  height: 100% !important;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: center;
}
